{% extends 'base.html' %}
{% load cms_tags menu_tags %}{% load url from future %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li><a href="{% url 'news_namespace:news_news' %}">Новости</a></li>
      <li class="active">{{ the_news.title }}</li>
    </ol>
{% endblock breadcrumbs %}
{% block content %}
<div id="content" class="col-md-12">
    <h1>{{ the_news.title }}</h1>
    <div>
        {{ the_news.content|safe }}
    </div>
</div>
{% endblock content %}

{% block header %}
{% include 'elements/header.html' %}
{% endblock header %}